{% extends "layout/basic.html" %}

{% block title %}Добавление показаний счётчиков{% endblock %}

{% block content %}
<h2>Добавление показаний</h2>
<p>
    <span>Предыдущие показания:</span>
    <span>[{{ prev_counter.month }}.{{ prev_counter.year }}]</span>&nbsp;
    <span>{{ prev_counter.date_get|date:"d.m.Y" }}</span>&nbsp;
    <span>Х.В.Кухня: {{ prev_counter.cw_kitchen }}</span>&nbsp;
    <span>Х.В.Ванная: {{ prev_counter.cw_bathroom }}</span>&nbsp;
    <span>Г.В.Кухня: {{ prev_counter.hw_kitchen }}</span>&nbsp;
    <span>Г.В.Ванная: {{ prev_counter.hw_bathroom }}</span>&nbsp;
    <span>Э/Э День: {{ prev_counter.el_1 }}</span>&nbsp;
    <span>Э/Э Ночь: {{ prev_counter.el_2 }}</span>
</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Добавить">
</form>
{% endblock %}