{% extends "layout/basic.html" %}

{% block title %}Добавление показаний счётчиков{% endblock %}

{% block content %}
<h2>Добавление показаний</h2>
<p>
    <span>Предыдущие показания:</span>
    <span>[{{ cc.month }}.{{ cc.year }}]</span>&nbsp;
    <span>{{ cc.date_get|date:"d.m.Y" }}</span>&nbsp;
    <span>Х.В.Кухня: {{ cc.cw_kitchen }}</span>&nbsp;
    <span>Х.В.Ванная: {{ cc.cw_bathroom }}</span>&nbsp;
    <span>Г.В.Кухня: {{ cc.hw_kitchen }}</span>&nbsp;
    <span>Г.В.Ванная: {{ cc.hw_bathroom }}</span>&nbsp;
    <span>Э/Э День: {{ cc.el_1 }}</span>&nbsp;
    <span>Э/Э Ночь: {{ cc.el_2 }}</span>
</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Добавить">
</form>
{% endblock %}